<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!--配置和映射Servlet-->
    <!--配置Servlet-->
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.lq.servlet.SearchServlet</servlet-class>
    </servlet>

    <!--映射Servlet -->
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/s</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecordServlet</servlet-name>
        <servlet-class>com.lq.servlet.RecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecordServlet</servlet-name>
        <url-pattern>/v</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.lq.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/d</url-pattern>
    </servlet-mapping>
</web-app>